body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('/assets/img/proveedor-04.png');
    /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* Ocupa el 100% de la altura de la pantalla */
    color: white;
    /* Color del texto */
    display: flex;
    align-items: center;
}

.content-box {
    background-color: rgba(0, 0, 0, 0.5);
    /* Color de fondo semi-transparente */
    padding: 20px;
    margin-top: 20px;
    min-height: 200px;
    /* Altura mínima del contenido */
    width: 100%;
    /* Ocupa el ancho completo de la columna */
}

.content-box p {
    margin: 0;
}